{% extends 'cgpa/cgpa_base.html' %}
{% load static %}
{% block content %}
<h1 class="display-3" style="text-align:center;">السلام عليكم ورحمة الله وبركاته </h1><br><br>
<div class="row text-center">
{% for course in course %}
{% if course.department == student.department and course.university == student.university %}
  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{{ course.cover.url }}"  alt="Card image"></a>
      <div class="card-body">
        <a  class="card-title" href="#" ><h4 class="card-title">{{ course.course_no }}</h4></a>
        <p class="card-text">course_title: {{ course.course_title }}</p>
        <p class="card-text">credit_hours: {{ course.credit_hours }}</p>
        <p class="card-text">level_term: {{ course.level_term }}</p>
        <p class="card-text">department: {{ course.department }}</p>
        <p class="card-text">university: {{ course.university }}</p>
     </div>
      <div class="card-footer">
        {% if user.is_authenticated %}
          <a class="btn btn-danger" href="{% url 'cgpa:course_edit' course.id %}">Edit</a>
          <a class="btn btn-danger" href="{% url 'cgpa:course_delete' course.id %}">Delete</a>
          {% endif %}
        </div>
    </div>
  </div>
{% endif %}
{% endfor %}
</div>
{% endblock %}
