bleach==3.1.1
certifi==2019.11.28
chardet==3.0.4
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2.10
django-bkash-integration==0.3
django-filter==2.2.0
django-heroku==0.3.1
django-model-utils==4.0.0
djangorestframework==3.11.0
gunicorn==20.0.4
hashids==1.2.0
idna==2.9
Markdown==3.2.1
Pillow==7.0.0
psycopg2==2.8.4
python-decouple==3.3
pytz==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.0
static3==0.7.0
Unipath==1.1
urllib3==1.25.8
webencodings==0.5.1
whitenoise==5.0.1
