{% extends 'base1.html' %}
{% load static %}
{% block content %}
<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
  <div class="container h-100">
    <div class="blog-banner">
      <div class="text-center">
        <h1>Shopping Cart</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->



<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
              <p id="demo"></p>
              <script> var t_price = 0; </script>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>

                      {% for card in card %}
                      {% if card.sold == False %}
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="{{ card.book.cover.url }}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <p>{{ card.book.name }}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>${{ card.book.price }}</h5>
                            </td>
                            <td>
                                <div class="product_count">
                                  <form  method="post" action="card_update">
                                    {% csrf_token %}
                                    <input type="hidden" name="card_id" value="{{ card.id }}">
                                    <input type="text" name="amount" value="{{ card.amount }}">
                                    <input type="submit" name="submit" value="Update" class="btn btn-primary">
                                  </form>
                                    <!-- <input type="text" name="qty" id="sst" maxlength="12" value="{{ card.amount }}" title="Quantity:"
                                        class="input-text qty">
                                    <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                        class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                    <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                        class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button> -->
                                </div>
                                <a class="btn btn-danger" href="{% url 'card_delete' card.id %}">Delete</a>

                            </td>
                            <td>
                                <h5 id="dt">$720.00</h5>
                            </td>
                        </tr>
                        <script>
                        var t_price = t_price+ {{ card.book.price }} *{{ card.amount }};
                        document.getElementById("demo").innerHTML ="Total price: " + t_price;
                        // document.getElementById("dt").innerHTML ={{ card.book.price }} *{{ card.amount }};
                        </script>
                        {% endif %}
                        {% endfor %}
                        <!-- <tr class="bottom_button">
                            <td>
                                <a class="button" href="#">Update Cart</a>
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="cupon_text d-flex align-items-center">
                                    <input type="text" placeholder="Coupon Code">
                                    <a class="primary-btn" href="#">Apply</a>
                                    <a class="button" href="#">Have a Coupon?</a>
                                </div>
                            </td>
                        </tr> -->
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5 id="st">$2160.00</h5>
                            </td>
                        </tr>
                        <!-- <tr class="shipping_area">
                            <td class="d-none d-md-block">

                            </td>
                            <td>

                            </td>
                            <td>
                                <h5>Shipping</h5>
                            </td>
                            <td>
                                <div class="shipping_box">
                                    <ul class="list">
                                        <li><a href="#">Flat Rate: $5.00</a></li>
                                        <li><a href="#">Free Shipping</a></li>
                                        <li><a href="#">Flat Rate: $10.00</a></li>
                                        <li class="active"><a href="#">Local Delivery: $2.00</a></li>
                                    </ul>
                                    <h6>Calculate Shipping <i class="fa fa-caret-down" aria-hidden="true"></i></h6>
                                    <select class="shipping_select">
                                        <option value="1">Bangladesh</option>
                                        <option value="2">India</option>
                                        <option value="4">Pakistan</option>
                                    </select>
                                    <select class="shipping_select">
                                        <option value="1">Select a State</option>
                                        <option value="2">Select a State</option>
                                        <option value="4">Select a State</option>
                                    </select>
                                    <input type="text" placeholder="Postcode/Zipcode">
                                    <a class="gray_btn" href="#">Update Details</a>
                                </div>
                            </td>
                        </tr> -->
                        <tr class="out_button_area">
                            <td class="d-none-l">

                            </td>
                            <td class="">

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" href="{% url 'book_home' %}">Continue Shopping</a>
                                    <a class="primary-btn ml-2" href="{% url 'shipping'  %}">Go to Shipping Page</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->

<script>
document.getElementById("st").innerHTML = t_price;
</script>

{% endblock %}
